#instagram__Area{
    height: 235px;
    background-color: #eaeaea;
    /* position: relative; */
    vertical-align: baseline;
    /* margin-top: 50px; */
}

#instagram__Area h1{
    font-size: 22px;
    font-family: 'Roboto-BlackItalic';
    margin: auto;
    display: inherit;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 30px;
    margin-top: 50px;
}
.instagram__Area_heshteg{
    font-size: 22px;
    font-style: italic;
}

.instagram__Area_heshteg::before{
    content: '\23';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    /* margin-right: 10px; */
}

.instagram_area_feed::before{
    content: '\f16d';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    margin-right: 10px;
}

.instagram__Area_Carousell{
    list-style: none;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling:touch;
    margin: 0;
    padding: 0;

}
.instagram__Area_Carousell::-webkit-scrollbar{
    display: none;
}
.instagram__Area_Carousell li{
    margin-left: 10px;
}

.instagram__Area_Carousell li:first-child{
    margin-left: 0;
}

