@import url(./header/logo.css);
@import url(./header/social_icons.css);
@import url(./header/languageSwitcher.css);
#header{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  justify-content: space-between;
  background-color: transparent;
}