
@import url(./products/newproduct.css);
@import url(./products/topproduct.css);
@import url(./products/saleproducts.css);
@import url(./products/brands.css);
@import url(./social/instagram.css);
.middleArea{
    position: relative;
    height: auto;
    top: 50px;
    left: 15px;

}