@import url(./subwigets/navigation.css);
@import url(./subwigets/banner.css);
@import url(./subwigets/tags.css);
@import url(./subwigets/expertsArticle.css);

#wgetArea{
    width: 270px;
    height: auto;
    max-width: 100%;
    padding-left: 0!important;
}

